<h2>Welcome to {{hotelName}} </h2>
@if (toggleRooms) {
    <div [hidden]="toggleRooms" class="container">
    <div class="first">Number of rooms:</div>
    <div class="second" [innerText]="numberOfRooms"></div>
</div>
}

{{ rooms.availableRooms ?? 'No rooms'}}

@if (rooms.availableRooms && rooms.availableRooms > 5) {
    <div>Room List</div>
    @for (room of roomList; track $index) {
        <p>Room Type: {{room.roomType}}</p>
        <p>Amenities: {{room.ameniites}}</p>
        <p>Price: {{room.price}}</p>
    }
}
<div class="button-container">
    <button (click)="toggle()">Toggle</button>
</div>
