<h2>Welcome to {{hotelName}} </h2>
@if (toggleRooms) {
    <div [hidden]="toggleRooms" class="container">
    <div class="first">Number of rooms:</div>
    <div class="second" [innerText]="numberOfRooms"></div>
</div>
}

{{ rooms.availableRooms ?? 'No rooms'}}

@if (rooms.availableRooms && rooms.availableRooms > 5) {
    <div>Room List</div>
    <table>
        <tr>
            <th>Room Id</th>
            <th>Room Type</th>
            <th>Amenities</th>
            <th>Room Price</th>
            <th>Checkin Time</th>
        </tr>
    @for (room of roomList; track $index;) {
        <tr [class.even]="$index % 2 === 0" [class.odd]="$index % 2 !== 0">
            <td>{{room.roomId}}</td>
            <td>{{room.roomType}}</td>
            <td>{{room.amenities}}</td>
            <td>{{room.price}}</td>
            <td>{{room.checkingTime}}</td>
        </tr>
    }
    </table>
}
<div class="button-container">
    <button (click)="toggle()">Toggle</button>
</div>
