h2 {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

div {
    border: 1px solid gray;
    padding: 20px;
    margin: 20px;
    text-align: center;
    font-size: 30px;
    color: black;
}