h2 {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    margin: 20px;
}

.container {
    border: 1px solid gray;
    font-size: 30px;
    display: flex;
    justify-content: space-around;
    gap: 20px;
}

.first, .second {
    flex: 1;
    padding: 15px;
}

.button-container {
    border: 1px solid grey;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin:  10px;
}

button {
    font-size: 25px;
    padding: 5px;
    margin: 5px;
}

table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

table, th, td {
    border: 1px solid black;
    padding: 8px;
}

.even {
    background-color: grey;
    color: white;
}

.odd {
    background-color: cyan;
}